html,
body,
header,
#intro {
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    
}

#intro {
    background: url(../images/BG-Designed.svg)no-repeat center center fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center{
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-gray{
    color: #c0bdbd;
}

h1{
    font-size: 2rem;
}

.masked-bg{
    background-color: rgba(0, 0, 0, 0.85);
    height: 100%;
}

a{
    text-decoration: None;
    color: white;
}

a:hover{
    color: gold;
}

@media only screen and (max-width: 600px){
.img{
    width: 90vw;
}
}